apiVersion: apps/v1
kind: Deployment
metadata:
  name: nxrm-operator-certified
spec:
  replicas: 1
  selector:
    matchLabels:
      name: nxrm-operator-certified
  template:
    metadata:
      labels:
        name: nxrm-operator-certified
    spec:
      serviceAccountName: nxrm-operator-certified
      containers:
        - name: nxrm-operator-certified
          # Replace this with the built image name
          image: registry.connect.redhat.com/sonatype/nxrm-operator-certified:3.24.0-1
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "nxrm-operator-certified"
            - name: RELATED_IMAGE_NEXUS
              value: registry.connect.redhat.com/sonatype/nexus-repository-manager:3.24.0-ubi-1
